DB_USER=habits_app
DB_PASS=habits_app
DB_HOST=localhost:27017
DB_NAME=habits_db
DB_PROTOCOL=mongodb
DB_DIRECT_CONNECTION=true
MONGODB_URI=mongodb://habits_app:habits_app@localhost:27017/habits_db?retryWrites=true&w=majority
CORS_ORIGINS=http://localhost:5173

MONGO_ROOT_USER=mongo_root
MONGO_ROOT_PASS=mongo_root
MONGO_EXPRESS_USER=admin
MONGO_EXPRESS_PASS=admin
